@font-face {
  font-family: CurseOfVulKar;
  src: url(assets/curseofvulkar.otf);
}

h1 {
  text-align: center;
}

body {
  text-align: center;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  /* font-family: CurseOfVulKar;
  font-size: x-large; */
}

input[type="number"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 2px 3px 7px #000408;
  cursor: text;
}

#all-timers {
  display: unset;
}

.time {
  font-family: CurseOfVulKar;
  font-size: 7em;
}

button {
  margin: 10px;
}

/* Creates pressed effect on button*/
#submit:hover {
  background-color: #030e1b;
}
button:active {
  box-shadow: 0 5px #666666;
  transform: translateY(10%);
}

#submit {
  height: 50px;
  width: 10em;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  background-color: #060c11;
  color: #edf3fa;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 7px #3d3d3d;
  outline: none;
}

.start {
  height: 50%;
  width: 5em;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
}

.pause {
  height: 50%;
  width: 5em;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
}

.reset {
  height: 50%;
  width: 5em;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
}

.next {
  height: 50%;
  width: 5em;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
}

#form {
  display: unset;
}

#gear_icon{
  display: none;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

span {
  font-size: 5em;
}

.btns {
  padding: 0;
  margin: 0;
  display: unset;
}

.roundComplete {
  font-size: 1.5em;
  font-weight: bold;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
}