@font-face {
  font-family: curseofvulkar;
  src: url(assets/CurseOfVulKar.otf);
}

h1 {
  text-align: center;
}

body {
  text-align: center;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

input[type="number"] {
  float: left; /* places input box next to label */
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 2px 3px 7px #000408;
  cursor: text;
}

#all-timers {
  display: unset;
}

.time {
  font-family: curseofvulkar;
  font-size: 6em;
}

button {
  margin: 10px;
}

/* Creates pressed effect on button*/
#submit:hover {
  background-color: #030e1b;
}
button:active {
  box-shadow: 0 5px #666666;
  transform: translateY(10%);
}

#submit {
  height: 50px;
  width: 10em;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  background-color: #060c11;
  color: #edf3fa;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 7px #3d3d3d;
  outline: none;
}

.start_pause {
  height: 2.5em;
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
  font-weight: bold;
}

.reset {
  height: 2.5em;
  width: 6.5em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
  font-weight: bold;
}

.next {
  height: 2.5em;
  width: 6.5em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10% #999999;
  outline: none;
  font-weight: bold;
}

#form {
  display: unset;
}

#gear_icon{
  display: none;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

span {
  font-size: 5em;
}

.btns {
  padding: 0;
  margin: 0;
  display: unset;
}

.roundComplete {
  font-size: 1.5em;
  font-weight: bold;
}

label {
  float: left; /* places input box next to label */
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  margin-top: 0.7em;
  width: 40%;
}

.secText{
  width: 0;
  margin-left: 0.5em;
}

/* stops float before so button remains below inputs*/
#inputs:after{
  content: "";
  display: table;
  clear: both;
}

.label_name {
  font-size: 2em;
  font-weight: bolder;
  margin-top: 1.5em;
}
